.container {
  color: white;
  background-color: #242424;
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: gray;
  transition: 0.3s ease all;
}
a:hover {
  color: black;
  text-decoration: underline;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3s ease all;
}